header{
  padding:20px;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #afafaf;
}
.top-menu-content{
  margin:50px 0px;
}
.top-square-button{
  border:{
    style:solid;
    width:1px;
  }
  text-align:center;
  display: block;
  height: 0;
  width: 100%;
  padding:{
    bottom:100%;
  }
  position: relative;
  .top-sqaure-content{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%); /* Safari用 */
    transform: translate(-50%, -50%);
  }
}
.center{
  display: flex;
  justify-content: center;
}

.row{
  margin: 15px 50px;
}


.h2_comp{
  color: rgb(97, 187, 86);
}

/* =============  終了画面ボタン  =====================*/
a.btn--OK {
  color: #fff;
  background-color: #c10439;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}

a.btn--OK:hover {
  color: #fff;
  background: #d90139;
}

a.btn--NO {
  color: #fff;
  background-color: #0442c1;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}

a.btn--NO:hover {
  color: #fff;
  background: #0148d9;
}

a.btn--shadow {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

a.btn--circle {
  border-radius: 50%;
  line-height: 100px;
  width: 100px;
  height: 100px;
  padding: 0;
}
/* =============  テーブル  =====================*/
table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table tr{
  border-bottom: solid 1px #eee;
  cursor: pointer;
}

table tr:hover{
  background-color: #d4f0fd;
}

table th,table td{
  text-align: center;
  width: 25%;
  padding: 25px 0;
}

#python_video{
  text-align: left;
}

.conf_footer_btn{
  text-align: right;
  margin: 0 0 0 auto;
  padding:10px;

}
