header{
  padding:20px;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #afafaf;
}

.body_h1{
  margin-top: 150px;
}

.side-menu{
  background-color: #eeeeee;
  height:100vh;
  font-size: 150%;
}
.main-content{
  height:100vh;
}

.center{
  display: flex;
  justify-content: center;
}

.row{
  margin: 15px 50px;
}

.img_com{

}

.h2_comp{
  color: rgb(97, 187, 86);
}

a.btn--OK {
  color: #fff;
  background-color: #c10439;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}

a.btn--OK:hover {
  color: #fff;
  background: #d90139;
}

a.btn--NO {
  color: #fff;
  background-color: #0442c1;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}

a.btn--NO:hover {
  color: #fff;
  background: #0148d9;
}

a.btn--shadow {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

a.btn--circle {
  border-radius: 50%;
  line-height: 100px;
  width: 100px;
  height: 100px;
  padding: 0;
}

table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table tr{
  border-bottom: solid 1px #eee;
  cursor: pointer;
}

table tr:hover{
  background-color: #d4f0fd;
}

table th,table td{
  text-align: center;
  width: 25%;
  padding: 25px 0;
}
/* get the styles for both icon*/
@import "https://cssicon.space/css/icons.css";

.icon, .icon:before, .icon:after, .icon i, .icon i:before, .icon i:after {
  transition: all 0.4s ease;
}
/* this is merely a rough demo to showcase the potential of CSS ICON on animation, more crafted animation can go from here */
